
@{
    Layout = null;
    var x = (tMember)Session["member"];
}




<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增文章 | Jouta</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/sass/style.css">
    <link rel="stylesheet" href="~/Content/css/blog_style.css">
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
</head>

<body>
    <div class="container-fluid">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-fixed-top" id="main">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Home", "Home")">
                    @*改用Url.Action*@
                    <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                </a>
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse justify-content-between" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">@Html.ActionLink("首頁", "Home", "Home", new { }, new { @class = "nav-link nav-main text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找飯局", "EatIndex", "Eat", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找文章", "Index", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        @if (Session["member"] != null)
                        {
                            <li class="nav-item nav-link nav-login text-dark">@Html.ActionLink("您好，" + x.f會員名稱, "ProfileIndex", "Profile") </li>
                            <li class="nav-item">@Html.ActionLink("登出", "Home", "Home", new { id = 0 }, new { @class = "nav-link nav-login text-dark" })</li>
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>
                            <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <form action="~/Blog/Create" method="post" enctype="multipart/form-data">
        <div class="container">
            <!-- Page Content -->
            <div class="row">
                <div class="col-lg-12" id="main-section">
                    <h2 id="main-title" class="mt-3 mb-3">
                        Jouta的美好豐富集綿
                    </h2>
                    <!-- 圖片上傳 -->
                    <div>
                        <p>預覽檔案</p>
                        <!--預覽區塊-->
                        <div class="st1">
                            <div class="x">

                                <img id="demo" class="mb-3" src="~/Content/images/BlogUploadSample.png" />
                            </div>



                            <!--上傳圖片的按鈕-->

                            <input id="file" type="file" name="blogPhoto" />
                            <p>(上傳圖片)</p>


                        </div>
                    </div>

                    <!-- 文章輸入項 -->

                    <div class="input-group" style="padding-bottom: 20px; width:90%;">
                        <div class="input-group-prepend">
                            <p id="pTitle">標題 :</p>
                        </div>
                        <input type="text" aria-label="First name" class="form-control" name="txtTitle" id="txtTitle">


                        <span class=" " style="padding-left:10px">

                            地區：
                            <select name="f活動地區">
                                <option value="北部">北部</option>
                                <option value="中部">中部</option>
                                <option value="南部">南部</option>
                                <option value="東部">東部</option>
                            </select>
                        </span>

                    </div>

                    <div class="input-group" style="padding-bottom: 20px; width:60%;">
                        <div class="input-group-prepend">
                            <p id="pTitle">地點 :</p>
                        </div>
                        <input type="text" aria-label="First name" class="form-control" id="locate">
                    </div>

                    <div class="input-group" style="padding-bottom: 20px; width:60%;">
                        <div class="input-group-prepend">
                            <p style="margin-right: 10px;"  id="QR">網址轉QRcode :</p>
                        </div>
                        <input type="text" aria-label="First name" class="form-control" name="QRcode" id="QRcode">
                    </div>

                    <div class="input-group" style="padding-bottom: 20px; width:60%;">
                        <div class="input-group-prepend">
                            <p style="margin-right: 10px;">QRcode名稱 :</p>
                        </div>
                        <input type="text" aria-label="First name" class="form-control" name="QRcodeImage" id="QRcodeImage">
                    </div>

                    <!-- 文章輸入 -->
                    <div class="card my-10 mb-5">
                        <h5 class="card-header">文章內容</h5>
                        <div class="card-body">

                            <div class="form-group">
                                <textarea class="form-control" rows="3" id="post-content" name="txtContent" ></textarea>
                            </div>

                            <div class="hidden" name="txtTime">@DateTime.Now</div>


                            <button type="submit" class="btn btn-primary">提交</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <!-- footer -->
    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">Copyright © 2020 Jouta All rights reserved</p>
    </div>

    <!-- script -->
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/IIIProject/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="~/Scripts/IIIProject/navbar.js"></script>
    <script src="~/Scripts/IIIProject/blog.js"></script>

    <script> 

        $("#pTitle").click(function () {
            $("#txtTitle").val("請客樓");
            $("#post-content").val("本以俱樂部形式經營的請客樓於2005年才對外開放，簡單的布置說明了餐廳將心思全貫注在食物之上，其手工菜口碑甚佳，廚師擅於將簡單的菜色精緻地呈現，質感及味道均十分出色，特別推薦核桃棗煎餅。以川揚菜為基礎的菜色融合臺灣味道，包括香濃燉湯、麻油雞飯、紅麴豬尾、千層百頁豆腐等。設多間供宴客的包廂 。");
            $("#locate").val("中正區忠孝東路一段12號17樓 (喜來登大飯店), Taipei, 100, Taiwan");
            $("#QRcode").val("https://www.sheratongrandtaipei.com/");
            $("#QRcodeImage").val("請客樓");
        });

        $("#QR").click(function () {
            $("#txtTitle").val("桃花林");
            $("#post-content").val("紅色為主調的中式桌椅和滿牆的瓷器擺設使餐廳洋溢著傳統韻味，玻璃屏風和吊燈又添上少許現代元素，典雅中不失時尚。菜單方面，偏於粵菜風味，燒味深受顧客喜愛，其中港式蜜汁叉燒滋味細膩，值得一試。同時提供多樣化的個人套餐以供選擇，當中不乏海參、鮑魚等高檔食材之搭配，適合商務聚會或宴請。");
            $("#locate").val("中山區南京東路一段9號3樓 (大倉久和大飯店), Taipei, 110, Taiwan");
            $("#QRcode").val("http://www.okurataipei.com.tw/zh-TW/dining/toh-ka-lin");
            $("#QRcodeImage").val("桃花林");
        });



    </script>

</body>

</html>

}