@{
    Layout = null;
    var loginMember = (tMember)Session["member"];
    dbJoutaEntities db = new dbJoutaEntities();
    var nowRealMember = db.tMember.Where(t => t.f會員編號 == loginMember.f會員編號).FirstOrDefault();
    string[] black_list = { };
    if (!string.IsNullOrEmpty(nowRealMember.f會員黑名單))
    {
        black_list = nowRealMember.f會員黑名單.Split(',');
    }
    string img;
    string target = "";
    string[] Msgs = { };
    string[] MsgsTime = { };
    string[] MsgsTimeAndID = { };
    int targetNumber = Model;
    var targetAct = db.tActivity.Where(s => s.f活動編號 == targetNumber).FirstOrDefault();
    if (!string.IsNullOrEmpty(targetAct.f活動留言))
    {
        Msgs = targetAct.f活動留言.Split(new string[] { "_^$" }, StringSplitOptions.None);//因包含對話內容，
                                                                                      //因此利用複數特殊字元做分割
        MsgsTime = targetAct.f活動留言時間.Split(',');
    }
    var targetMsgs = Msgs.Zip(MsgsTime, (n, w) => new { msg = n, time = w });//合併兩陣列
}

@if (string.IsNullOrEmpty(targetAct.f活動留言))
{
    <h2 class="mx-auto ml-2">暫無留言</h2>
}
else
{
    foreach (var Msg in targetMsgs)
    {
        if (string.IsNullOrEmpty(Msg.time))
        {
            continue;
        }
        MsgsTimeAndID = Msg.time.Split(new string[] { "_^$" }, StringSplitOptions.None);
        if (MsgsTimeAndID.Length > 1)
        {
            target = MsgsTimeAndID[1];
        }
        if (black_list.Length > 1)
        {
            if (Array.IndexOf(black_list, target) > -1)
            {
                continue;
            }
        }

        img = db.tMember.Where(t => t.f會員編號.ToString() == target)
              .Select(t => t.f會員大頭貼).FirstOrDefault();

        <div class="row justify-content-between   mr-1 ml-4">
            <div class="row the_msg_block">
                <button class="button btn-secondary jouta_black_list" member_id="@target" act_target="msg" act_id="@Model">加入黑名單</button>
                <a href="@Url.Action("otherprofile", "Profile", new { id = target })">
                    <img src="~/Content/images/@img" width="34" height="34">
                </a>
                <div class="m-0 the_msgs">@Msg.msg</div>
            </div>
            <div class="pr-5 mr-3">@MsgsTimeAndID[0]</div>
        </div>
        <br />

    }
}