@model tActivity
@{
    Layout = null;
    int pos = -1;
    dbJoutaEntities db = new dbJoutaEntities();
    string iflikeit = "11.png";
    var NowMember = (tMember)Session["member"];
    if (Session["member"] != null)
    {
        var targetMember = db.tMember.FirstOrDefault(x => x.f會員編號 == NowMember.f會員編號);
        if (!string.IsNullOrEmpty(targetMember.f會員收藏的活動編號))
        {
            var analyze = targetMember.f會員收藏的活動編號.Split(',');
            pos = Array.IndexOf(analyze, Model.f活動編號.ToString());
            if (pos > -1)
            {
                iflikeit = "14.png";
            }
        }
    }

    if (Model.tMember.f會員評分 == null)
    {
        Model.tMember.f會員評分 = 0.0;
    }

    //join
    var totalMember = from x in db.tMember
                      select x;
    string[] attendGuys = { };
    if (!string.IsNullOrEmpty(Model.f活動參加的會員編號))
    {
        attendGuys = Model.f活動參加的會員編號.Split(',');
    }
    string[] wantGuys = { };
    if (!string.IsNullOrEmpty(Model.f活動審核名單))
    {
        wantGuys = Model.f活動審核名單.Split(',');
    }


    //msg
    string target = "";
    string img = "";
    string[] msgsTime = { };
    string[] msgs = { };
    string[] msgsTimeAndID = { };
    if (!string.IsNullOrEmpty(Model.f活動留言))
    {
        msgs = Model.f活動留言.Split(new string[] { "_^$" }, StringSplitOptions.None);//因包含對話內容，
                                                                                  //因此利用複數特殊字元做分割
        msgsTime = Model.f活動留言時間.Split(',');
    }
    var targetMsgs = msgs.Zip(msgsTime, (n, w) => new { msg = n, time = w });//合併兩陣列

    //black_list
    string[] black_list = { };
    if (Session["member"] != null)
    {
        var nowRealMember = db.tMember.Where(t => t.f會員編號 == NowMember.f會員編號).FirstOrDefault();
        if (!string.IsNullOrEmpty(nowRealMember.f會員黑名單))
        {
            black_list = nowRealMember.f會員黑名單.Split(',');
        }
    }


    //score
    //none

    //edit
    //none
}

@*edit start*@
<div class="modal fade combine_edit" id="ajax_edit"  role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog change-max-width-1400" role="document">
        <div class="modal-content" style="height:85%">
            <div class="modal-header border-main-color">
                <h5 class="modal-title" id="exampleModalLabel"><span style="font-weight:bolder;">@Model.f活動標題 編輯</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- edit頭 -->
            <div class="modal-body">
                <form enctype="multipart/form-data" action="~/Travel/Edit" method="post">
                    <div class="container-fluid">
                        <span>標題：<input type="text" name="f活動標題" style="width:90%" class="NeedAT" value="@Model.f活動標題"><p class="NeedATTo" style="color:red" hidden>活動標題請至少填滿5個字</p></span>
                        <div class="row m-0 mb-3 justify-content-around">
                            <span>旅遊開始日期： <input type="text"  class="ActivityStart"  name="f活動開始時間" value="@Model.f活動開始時間" listNumber="1" readonly><p class="ActivityStartTo" style="color:red" hidden>活動開始時間必填</p></span>
                            <span>旅遊結束日期： <input type="text"  class="ActivityEnd" name="f活動結束時間" value="@Model.f活動結束時間" readonly><p class="ActivityEndTo" style="color:red" hidden>活動結束時間必填</p></span>
                            <span>入團截止： <input type="text"  class="ActivityFindEnd" name="f活動招募截止時間" value="@Model.f活動招募截止時間" readonly><p class="ActivityFindEndTo" style="color:red" hidden>招募截止時間必填</p></span>
                        </div>
                        <div class="row mb-4 mx-auto align-items-center justify-content-around">
                            <span><img src="~/Content/images/04.png" class="mb-1" alt="">預算：<input type="text" name="f活動預算" class="NeedAC" value="@Model.f活動預算"><span class="NeedACTo" style="color:red" hidden>活動預算必填</span></span>

                            @*<div class="pr-5">
                                <img src="~/Content/images/17.png" class="mb-1" alt="">分類：
                                <select name="f活動分類" style="">
                                    <option value="兩天一夜">兩天一夜</option>
                                    <option value="三天兩夜">三天兩夜</option>
                                    <option value="五天四夜">五天四夜</option>
                                    <option value="七天六夜">七天六夜</option>
                                    <option style="text-align:center;" value="其他">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他
                                    </option>

                                </select>
                            </div>*@
                        </div>
                        <div class="row mb-4 mx-auto align-items-center justify-content-around">
                            <span class="row  align-items-center">團圖：<input type="file" name="PicFile2" class="NeedAP"><span class="mr-5 NeedAPTo" style="color:red" hidden>活動團圖必填</span></span>

                            <div class="row align-items-center">
                            <button type="button" class="btn btn-secondary btn_get_map" data-toggle="modal" getMapNumber="1" data-target="#getMap" style="background-color:gray">
                                設定地點
                            </button>
                            <span class="btn_get_map_msg "></span>
                            </div>
                            <input type="hidden" class="evtLng" value="@Model.f活動經度" name="f活動經度">
                            <input type="hidden" class="evtLat" value="@Model.f活動緯度" name="f活動緯度">

                            <span class=" ">
                                <img src="~/Content/images/03.png" class="mb-1" alt="">
                                地區：
                                <select name="f活動地區">
                                    <option value="北部">北部</option>
                                    <option value="中部">中部</option>
                                    <option value="南部">南部</option>
                                    <option value="東部">東部</option>
                                </select>
                            </span>
                        </div>



                        <div class="row align-items-center">
                            <div class="mx-auto mb-3">
                                內容：<textarea name="f活動內容2" id="EditAct" @*style="width:1000px;height:220px;vertical-align:top;"*@ class="NeedAL">@Html.Raw(Model.f活動內容)</textarea>
                                <p class="NeedALTo" style="color:red" hidden>活動內容請至少填滿100字</p>
                            </div>
                        </div>
                    </div>
                    <!-- 揪團隱藏不顯示項目 -->
                    <input type="hidden" name="f活動編號" value="@Model.f活動編號">
                    <!-- 揪團內容尾 -->
                    <div class="modal-footer  mt-2 border-main-color">
                        <input type="submit" class="btn JoutaSend" limitNumber="1" style="background-color:#FFE0B2" value="送出" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>
@*edit end*@


@*score start*@
<div class="modal fade combine_score" id="ajax_score"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog change-max-width-1420" role="document" style="padding-right: 17px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.f活動標題 評分區</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row align-items-center ">
                <div AddScore="@Model.f活動編號" class="Score   mx-auto">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <img ScoreID="@i" isclick="false" ScoreTarget="@Model.f活動編號" src="~/Content/images/Star.png" />
                    }
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <span>
                    <button type="button" class="btn btn-warning leaveScore" leaveScore="@Model.f活動編號">送出</button>
                    <button type="button" class="btn btn-secondary resetScore" resetScore="@Model.f活動編號">重設</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </span>
            </div>
        </div>
    </div>
</div>
@*score end*@

@*msg start*@
<div class="modal fade combine_msg" id="ajax_msg"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog change-max-width-1420" role="document" style="padding-right: 17px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.f活動標題 留言區</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div MsgAdd="@Model.f活動編號">
                    @*@if (string.IsNullOrEmpty(Model.f活動留言))
                    {
                        <h2 class="mx-auto ml-2">暫無留言</h2>
                    }
                    else
                    {
                        foreach (var Msg in targetMsgs)
                        {
                            if (string.IsNullOrEmpty(Msg.time))
                            {
                                continue;
                            }
                            else
                            {
                                msgsTimeAndID = Msg.time.Split(new string[] { "_^$" }, StringSplitOptions.None);
                                if (msgsTimeAndID.Length > 1)
                                {
                                    target = msgsTimeAndID[1];
                                }
                                if (black_list.Length > 1)
                                {
                                    if (Array.IndexOf(black_list, target) > -1)
                                    {
                                        continue;
                                    }
                                }
                                img = db.tMember.Where(t => t.f會員編號.ToString() == target)
                                              .Select(t => t.f會員大頭貼).FirstOrDefault();

                                <div class="row justify-content-between   mr-1 ml-4">
                                    <div class="row the_msg_block">
                                        <button class="button btn-secondary jouta_black_list" member_id="@target" act_target="msg" act_id="@Model.f活動編號">加入黑名單</button>
                                        <a href="@Url.Action("otherprofile","Profile",new { id= target })">
                                            <img src="~/Content/images/@img" width="34" height="34">
                                        </a>
                                        <div class="m-0 the_msgs">@Msg.msg</div>
                                    </div>
                                    <div class="pr-5 mr-2">@msgsTimeAndID[0]</div>
                                </div>
                                <br />
                            }
                        }
                    }*@

                </div>
            </div>
            <div class="modal-footer justify-content-between ml-2">
                <input type="text" class="ml-2  " sentMsg="@Model.f活動編號" style="width:70%" />
                <div class="mr-3">
                    <button type="button" class="btn btn-warning leaveMsg" leaveMsg="@Model.f活動編號">送出</button>
                    <button type="button" class="mr-5 btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*msg end*@

@*join start*@
<div class="modal fade combine_join" id="ajax_join"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog change-max-width-1420" role="document" style="padding-right: 17px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.f活動標題 團員名單</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div ActAdd="@Model.f活動編號" class="d-flex flex-column bd-highlight">
                    <h2>審核名單</h2><br />
                    <div class="row">
                        @foreach (string wantguy in wantGuys)
                        {
                            if (string.IsNullOrEmpty(wantguy))
                            {
                                continue;
                            }
                            var theGuy = db.tMember.Where(t => t.f會員編號.ToString() == wantguy).FirstOrDefault();
                        <div class="m-3 row  align-items-center   " style="width:210px;">

                            <a href="@Url.Action("otherprofile","Profile",new { id= theGuy.f會員編號 })">
                                <img width="114" height="114" src="~/Content/images/@theGuy.f會員大頭貼"  title="@theGuy.f會員名稱" />
                            </a>
                            <div class="d-flex flex-column bd-highlight align-items-center">
                                @if (black_list.Length > 1 && Array.IndexOf(black_list, theGuy.f會員編號.ToString()) > -1)
                                {
                                    <span class="mx-auto" style="width:40px;">
                                        <img width="40" height="40" src="~/Content/images/30.png" />
                                    </span>
                                }
                                else
                                {
                                    <span class="mx-auto" style="width:40px;">
                                        <img width="40" height="40" src="~/Content/images/29.png" />
                                    </span>

                                }
                                <div class="mx-auto join_user_name" title="@theGuy.f會員名稱">@theGuy.f會員名稱</div>
                            </div>

                            <button class="button btn-secondary jouta_black_list pr-1 pl-1" member_id="@theGuy.f會員編號" act_target="join" act_id="@Model.f活動編號" style="width:114px">加入黑名單</button>
                            @if (Session["member"] != null && Model.f會員編號 == NowMember.f會員編號)
                            {
                                <button class="button btn-info jouta_agree pr-1 pl-1" member_id="@theGuy.f會員編號" act_target="agree" act_id="@Model.f活動編號" style="width:54px">入團</button>
                                <button class="button btn-danger jouta_agree pr-1 pl-1" style="width:168px;" member_id="@theGuy.f會員編號" act_target="refuse" act_id="@Model.f活動編號">拒絕入團</button>
                            }


                        </div>
                        }
                    </div>
                    <br />
                    <hr />
                    <br />
                    <h2>入團名單</h2><br />
                    <div class="row">
                        @foreach (string guy in attendGuys) //先直接撈原本的資料，若有變動針對此處做AJAX修改
                        {
                            var theGuy = totalMember.Where(x => x.f會員編號.ToString() == guy).FirstOrDefault();
                            if (string.IsNullOrEmpty(guy))
                            {
                                continue;
                            }

                            <div class="m-3 row  align-items-center   " style="width:210px;">

                                <a href="@Url.Action("otherprofile","Profile",new { id= theGuy.f會員編號 })">
                                    <img width="114" height="114" src="~/Content/images/@theGuy.f會員大頭貼" title="@theGuy.f會員名稱" />
                                </a>
                                <div class="d-flex flex-column bd-highlight align-items-center">
                                    @if (black_list.Length > 1 && Array.IndexOf(black_list, theGuy.f會員編號.ToString()) > -1)
                                    {
                                        <span class="mx-auto" style="width:40px;">
                                            <img width="40" height="40" src="~/Content/images/30.png" />
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="mx-auto" style="width:40px;">
                                            <img width="40" height="40" src="~/Content/images/29.png" />
                                        </span>

                                    }
                                    <div class="mx-auto join_user_name" title="@theGuy.f會員名稱">@theGuy.f會員名稱</div>
                                </div>

                                <button class="button btn-secondary jouta_black_list pr-1 pl-1" member_id="@theGuy.f會員編號" act_target="join" act_id="@Model.f活動編號" style="width:114px">加入黑名單</button>
                                @if (Session["member"] != null && Model.f會員編號 == NowMember.f會員編號)
                                {
                                    <button class="button btn-danger jouta_kick pr-1 pl-1" member_id="@theGuy.f會員編號" act_id="@Model.f活動編號" style="width:54px">踢他</button>
                                }

                            </div>

                        }
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                @if (string.Compare(DateTime.Now.ToString("yyyy-MM-dd"), Model.f活動招募截止時間) > 0)
                {
                    //招募已結束
                    <p>活動招募已截止</p>
                    <button type="button" class="btn btn-secondary leaveAct" leaveAct="@Model.f活動編號">我要退團</button>
                }
                else
                {   //招募未結束
                    <button type="button" class="btn btn-warning joinAct" joinAct="@Model.f活動編號">我要入團</button>
                    <button type="button" class="btn btn-secondary leaveAct" leaveAct="@Model.f活動編號">我要退團</button>
                }
            </div>
        </div>
    </div>
</div>
@*join end*@

@*readmore start*@
<div class="modal fade combine_readmore" id="ajax_readmore"  role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog change-max-width-1400" role="document">
        <div class="modal-content">
            <div class="modal-header  border-main-color">
                <h5 class="modal-title"  id="exampleModalLabel"><span style="font-weight:bolder;"> @Model.f活動標題</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 互動文章 -->
                <div class="container-fluid">
                    <div class="row m-0 mb-3 justify-content-around">
                        <span>活動日期： <span>@Model.f活動開始時間</span></span>
                        <span>結束日期： <span>@Model.f活動結束時間</span></span>
                        <span>入團截止： <span>@Model.f活動招募截止時間</span></span>
                        <span><img src="~/Content/images/17.png" alt="">@Model.f活動分類</span>
                        <span><img src="~/Content/images/03.png" alt="">@Model.f活動地區</span>
                        <span><img src="~/Content/images/04.png" alt="">@Model.f活動預算</span>
                        <span><img src="~/Content/images/06.png" class="" alt=""><span ToUpdateVC="@Model.f活動編號">@Model.f活動瀏覽次數</span></span>
                        <span><img src="~/Content/images/05.png" class="" alt=""><span ToUpdateGC="@Model.f活動編號">@Model.f活動讚數</span></span>
                        @if (Session["member"] != null)
                        {
                            <span class="col-auto"><img style="cursor: pointer;" class="likeIt" likeIndex="@Model.f活動編號" src="~/Content/images/@iflikeit" alt=""></span>
                        }
                    </div>
                    @*<hr />*@
                    <div class="row">
                        <img src="~/Content/images/@Model.f活動團圖" alt="" class="mx-auto" style="width: 60%;margin: auto;height:500px">
                    </div>
                    <br />
                    <hr />
                    <br />

                    <div class="row align-items-center">
                        <div id="UserBlock" class="mx-auto">
                            <p><img src="~/Content/images/16.png" class="pb-1" alt="">@Model.tMember.f會員稱號</p>
                            <a href="@Url.Action("otherprofile","Profile",new { id= Model.f會員編號 })">
                                <img src="~/Content/images/@Model.tMember.f會員大頭貼" alt="" class="col-auto" style="width: 300px;">
                            </a>
                            <p>@Model.tMember.f會員名稱</p>
                            <div class="row d-flex flex-column bd-highlight mx-auto">
                                <p>團主評分:</p>
                                <div class="mx-auto">
                                    @for (int i = 0; i < Model.tMember.f會員評分; i++)
                                    {
                                        <img src="~/Content/images/ChangeStar.png" width="30" height="30" />
                                    }
                                </div>
                                </div>
                        </div>
                        <div class="change-max-width-1000 ">
                            <div id="activity_content" class="row align-items-center m-0 ml-2 mr-2 textBox  " >
                                @Html.Raw(Model.f活動內容) 
                            </div>
                        </div>
                    </div>
                    <br />

                    @if (Session["member"] != null)
                    {
                        <div class="container">
                            <div class="row   justify-content-around">
                                <button class="btn btn-block mr-1  p-1 pr-2 pl-2 FeelGood" style="background-color:#FFE0B2;" target="@Model.f活動編號">
                                    <img src="~/Content/images/05.png" class="pb-1 ">覺得讚
                                </button>
                                <button class="btn btn-block mr-1  p-1 pr-2 pl-2" data-toggle="modal"  data-target="#ajax_join" style="background-color:#FFE0B2 ;">
                                    <img src="~/Content/images/10.png" class="pb-1" alt="">
                                    @{ 
                                        if (NowMember.f會員編號!=Model.f會員編號)
                                        {
                                            @:入退團
                                        }else
                                        {
                                            @:來審核
                                        }
                                    }
                                </button>

<button class="btn btn-block mr-1  p-1 pr-2 pl-2" data-toggle="modal" data-target="#ajax_score" style="background-color:#FFE0B2 ;">
                                    <img src="~/Content/images/10.png" class="pb-1" alt="">給分數
                                </button>
                                <div style="cursor: pointer;">
                                    <button class="btn btn-block mr-1  p-1 pr-2 pl-2" data-toggle="modal" leaveMsg="@Model.f活動編號" data-target="#ajax_msg" style="background-color:#FFE0B2;">
                                        <img src="~/Content/images/12.png" alt="">留言區
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- 互動文章 -->
                <div class="modal-footer   mt-3  border-main-color">
                    @if (Session["member"] != null && NowMember.f會員編號 == Model.f會員編號)
                    {
                        if (string.Compare(Model.f活動招募截止時間, DateTime.Now.ToString("yyyy-MM-dd")) > 0)
                        {
                            //招募未結束才可編輯
                            <button class="btn btn-info  JoutaEdit" limitNumber="1" act_id="@Model.f活動編號" data-toggle="modal" data-target="#ajax_edit">
                                編輯
                            </button>
                            @Html.ActionLink("刪除", "Delete", "Travel", new { id = Model.f活動編號 }, new { @class = "btn btn-danger delete_act" })
                        }
                        else
                        {
                            <p>招募結束不可編輯不可刪除</p>
                        }
                    }
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*readmore end*@