@{
    Layout = null;
    var topMember = (new dbJoutaEntities()).tMember.OrderByDescending(n => n.f會員評分).Take(5);//抓評分前五團主
    var x = (tMember)Session["member"];
    //tMember x = (new dbJoutaEntities()).tMember.FirstOrDefault(y => y.f會員編號 == 4);
    //Session["member"] = x;
    string[] HomeSearch = { "", "所有", "全部", "" };
    if (!string.IsNullOrEmpty(Model))
    {
        HomeSearch = Model.Split(',');
    }
}

@{
    <!DOCTYPE html>
    <html lang="zh-Hant-tw">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>揪旅遊 | Jouta</title>
        <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/fontawesome/css/all.css">
        <link rel="stylesheet" href="~/Content/sass/style.css">
        <link rel="stylesheet" href="~/Content/css/travel.css">
        <link rel="shortcut icon" href="favicon.ico" />
        <link href="~/Content/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
        <link href="~/Content/fullcalendar-5.3.2/lib/main.css" rel="stylesheet" />
        <script src="~/Scripts/vue.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>
    </head>

    <body>
        <div class="container-fluid ">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-light header" id="main">
                <div class="container">
                    <a class="navbar-brand" href="@Url.Action("Home", "Home")">
                        @*改用Url.Action*@
                        <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">@Html.ActionLink("首頁", "Home", "Home", new { }, new { @class = "nav-link nav-main text-dark" })</li>
                            <li class="nav-item">@Html.ActionLink("找飯局", "EatIndex", "Eat", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                            <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                            <li class="nav-item">@Html.ActionLink("找文章", "Index", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                        </ul>
                        <ul class="nav navbar-nav">
                            @if (Session["member"] != null)
                            {
                                <li class="nav-item nav-link nav-login text-dark">@Html.ActionLink("您好，" + x.f會員名稱, "ProfileIndex", "Profile", new { }, new { style = "color:#007bff;" }) </li>
                                <li class="nav-item">@Html.ActionLink("登出", "Home", "Home", new { id = 0 }, new { @class = "nav-link nav-login text-dark" })</li>
                            }
                            else
                            {
                                <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>
                                <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                            } 
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- 網頁主體 -->
        <div class="container-fluid mt-3">
            <div class="row justify-content-between">
                <!-- 各項排序 -->
                <div id="replace"></div>
                <div class="col-xl-3 col-lg-3 col-9 pt-4 pl-5 mx-auto" id="travel_sort">
                    <!--左邊欄位-->
                    <div class="pl-2 pt-1 mb-5" style="cursor: pointer;position:relative;">
                        <!-- 查詢 搜尋-->
                        @*<form method="post">*@
                        @*action="./article_AJAX"*@
                        @*<input type="hidden" name="order" value="null" />
                            <input type="hidden" name="border_color" value="null" />*@
                        <input type="text" class="mt-5 mr-1" style="width:85%;" name="contain" id="contain" value="@HomeSearch[0]">
                        <input type="image" src="~/Content/images/18.png" id="contain_pic" style="position:absolute;bottom:0;" />  @*alt="submit"*@
                        @*</form>*@
                        <br>
                    </div>

                    <ul class="sort">
                        <li class="m-2 mb-3 row justify-content-between" id="02" order="f活動發起日期" style="list-style-type:none;cursor: pointer;">
                            <span>
                                <img src="~/Content/images/02.png"
                                     alt="">最新
                            </span>
                        </li>
                        <li class="m-2 mb-3 row justify-content-between" id="01" order="f活動瀏覽次數" style="list-style-type:none;cursor: pointer;">
                            <span>
                                <img src="~/Content/images/01.png"
                                     alt="">熱門
                            </span>
                        </li>
                        <li class="m-2 mb-3 row justify-content-between" id="03" order="f活動地區" style="list-style-type:none;cursor: pointer;">
                            <span>
                                <img src="~/Content/images/03.png"
                                     alt="">地區
                            </span>
                        </li>
                        <li class="m-2 mb-3 row justify-content-between" id="04" order="f活動預算" style="list-style-type:none;cursor: pointer;">
                            <span>
                                <img src="~/Content/images/04.png"
                                     alt="">預算
                            </span>
                        </li>
                        <li class="m-2 mb-3 row justify-content-between" id="05" order="f活動讚數" style="list-style-type:none;cursor: pointer;">
                            <span>
                                <img src="~/Content/images/05.png"
                                     alt="">讚數
                            </span>
                        </li>
                        @*<li class="m-2 mb-3 row justify-content-between" id="06" style="list-style-type:none;cursor: pointer;">
                            <span>
                                <img src="~/Content/images/06.png" order="f活動瀏覽次數"
                                     alt="">瀏覽次數
                            </span>
                        </li>*@
                        <li class="m-2 mb-3 row justify-content-between" id="07" order="f活動開始時間" style="list-style-type:none;cursor: pointer;">
                            <span>
                                <img src="~/Content/images/07.png"
                                     alt="">活動日期
                            </span>
                        </li>
                        <li class="m-2 mb-3 row justify-content-between" id="08" order="f活動招募截止時間" style="list-style-type:none;cursor: pointer;">
                            <span>
                                <img src="~/Content/images/08.png"
                                     alt="">入團截止
                            </span>
                        </li>
                    </ul>
                    <!-- 各項排序 -->
                    <br />
                    <!-- 優質團主 -->
                    <div class="mb-5">
                        <p class=" ml-3 " style="text-align: center;width:83.5%;">優質團主</p>
                        <ul class="row    ml-3" style="width:83.5%;">
                            <li class="mx-auto" style="list-style-type:none;cursor: pointer;">
                                @foreach (var item in topMember)
                                {
                                    <a href="@Url.Action("otherprofile","Profile",new { id= item.f會員編號 })">
                                        <img src="~/Content/images/@item.f會員大頭貼"
                                             title="@item.f會員名稱" class="popguys" width="30" height="30" style="border-radius:5px;">
                                    </a>
                                }
                            </li>
                        </ul>
                    </div>
                    <!-- 優質團主 -->
                </div>

                <!-- 文章區主體 -->

                <div class="col-xl-6 col-lg-6 col-10 mt-1 mx-auto pr-2 pl-2">
                    <div class="button row justify-content-between mb-2 pt-1 pb-2 align-items-center">
                        <!-- 現在排序頭 -->
                        <div id="row">
                            <div style="list-style-type:none;cursor: pointer;"></div>

                        </div>
                        <!-- 現在排序尾 -->
                        <!-- 開團按鈕頭 -->
                        <div id="new" class="row align-items-center pr-2  ">
                            <form action="" style="font-size:smaller" class="mr-3">
                                <span>分類：</span>
                                <select id="category" style="border: none;" HomeSearch="@HomeSearch[1]">
                                    <option style="width:auto;margin:0 auto;" value="所有" selected>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有
                                    </option>
                                    <option value="兩天一夜">兩天一夜</option>
                                    <option value="三天兩夜">三天兩夜</option>
                                    <option value="五天四夜">五天四夜</option>
                                    <option value="七天六夜">七天六夜</option>
                                    <option style="text-align:center;" value="其他">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他
                                    </option>

                                </select>
                                &nbsp;&nbsp;
                                <span>總讚數：</span>
                                <select id="label" style="border: none;" HomeSearch="@HomeSearch[2]">
                                    <option value="全部" selected>&nbsp;全部</option>
                                    <option value="10">讚>10</option>
                                    <option value="30">讚>30</option>
                                    <option value="50">讚>50</option>
                                    <option value="100">讚>100</option>
                                </select>
                            </form>
                            <button class="btn btn-block mr-1   p-1 JoutaEdit" limitNumber="0" style="background-color:#FFE0B2 ;" @*type="submit"*@ data-toggle="modal"
                                    data-target="#exampleModal">
                                <img src="~/Content/images/10.png" class="mb-1" alt=""> Jou團去
                            </button>
                        </div>
                        <!-- 開團按鈕尾 -->
                    </div>
                    <!-- 揪團視窗頭  boostrap為方便滾輪出現會多出padding-right 17px之屬性-->
                    <div class="modal fade JoutaStart" id="exampleModal" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog change-max-width-1400" role="document">
                            <div class="modal-content" style="height:85%">
                                <div class="modal-header border-main-color">
                                    <h5 class="modal-title" id="exampleModalLabel"><span style="font-weight:bolder;"> 開團</span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <!-- 揪團內容頭 -->
                                @if (Session["member"] != null)
                                {
                                    <div class="modal-body">
                                        <form enctype="multipart/form-data" action="~/Travel/Add" method="post">
                                            <div class="container-fluid">
                                                <span><span id="Travel_Demo_Click">標題：</span><input type="text" name="f活動標題" style="width:90%" class="NeedAT" placeholder="活動標題至少5個字"><p class="NeedATTo" style="color:red" hidden>活動標題請至少填滿5個字</p></span>
                                                <div class="row m-0 mb-3 justify-content-around">
                                                    <span>旅遊開始日期： <input type="text"   class="ActivityStart" name="f活動開始時間" listNumber="0" readonly><p class="ActivityStartTo" style="color:red" hidden>活動開始時間必填</p></span>
                                                    <span>旅遊結束日期： <input type="text"  class="ActivityEnd" disabled name="f活動結束時間" readonly><p class="ActivityEndTo" style="color:red" hidden>活動結束時間必填</p></span>
                                                    <span>入團截止： <input type="text" class="ActivityFindEnd" disabled name="f活動招募截止時間" readonly><p class="ActivityFindEndTo" style="color:red" hidden>招募截止時間必填</p></span>
                                                </div>
                                                <div class="row mb-4 mx-auto align-items-center justify-content-around">
                                                    <span><img src="~/Content/images/04.png" class="mb-1" alt="">預算：<input type="text" name="f活動預算" class="NeedAC"><span class="NeedACTo" style="color:red" hidden>活動預算必填</span></span>

                                                    @*<div class="pr-5">
                                                        <img src="~/Content/images/17.png" class="mb-1" alt="">分類：
                                                        <select name="f活動分類" style="">
                                                            <option value="兩天一夜">兩天一夜</option>
                                                            <option value="三天兩夜">三天兩夜</option>
                                                            <option value="五天四夜">五天四夜</option>
                                                            <option value="七天六夜">七天六夜</option>
                                                            <option style="text-align:center;" value="其他">
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他
                                                            </option>

                                                        </select>
                                                    </div>*@

                                                </div>
                                                <div class="row mb-4 mx-auto align-items-center justify-content-around">
                                                    <span class="row  align-items-center">團圖：<input type="file" name="PicFile" class="NeedAP"><span class="mr-5 NeedAPTo" style="color:red" hidden>活動團圖必填</span></span>

                                                    <div class="row align-items-center ">
                                                        <button type="button" class="btn btn-secondary btn_get_map" data-toggle="modal" getMapNumber="0" data-target="#getMap" style="background-color:gray">
                                                            設定地點
                                                        </button>
                                                        <span class="btn_get_map_msg  "></span>
                                                    </div>
                                                    <input type="hidden" class="evtLng" value="" name="f活動經度">
                                                    <input type="hidden" class="evtLat" value="" name="f活動緯度">

                                                    <span class=" ">
                                                        <img src="~/Content/images/03.png" class="mb-1" alt="">
                                                        地區：
                                                        <select name="f活動地區">
                                                            <option value="北部">北部</option>
                                                            <option value="中部">中部</option>
                                                            <option value="南部">南部</option>
                                                            <option value="東部">東部</option>
                                                        </select>
                                                    </span>
                                                </div>




                                                <div class="row align-items-center">
                                                    <div class="mx-auto mb-3">
                                                        內容：<textarea name="f活動內容" id="AddAct" @*style="width:1000px;height:220px;vertical-align:top;"*@ class="NeedAL"></textarea>
                                                        <p class="NeedALTo" style="color:red" hidden>活動內容請至少填滿100字</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 揪團內容尾 -->
                                            <div class="modal-footer  mt-2 border-main-color">
                                                <input type="submit" class="btn JoutaSend" limitNumber="0" style="background-color:#FFE0B2" value="送出" />
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                            </div>
                                            <!-- 揪團隱藏不顯示項目 -->
                                            <input type="hidden" name="f活動讚數" value="0">
                                            <input type="hidden" name="f活動瀏覽次數" value="0">
                                            <input type="hidden" name="f活動發起日期" value="@DateTime.Now.ToString("yyyy-MM-dd  HH:mm:ss")">
                                        </form>
                                    </div>
                                }
                                else
                                {

                                    <div class="modal-body row  align-items-center mx-auto" id="need_login">
                                        <p>先登入才能揪團</p>
                                    </div>

                                }


                            </div>
                        </div>
                    </div>
                    <!-- 揪團視窗尾 -->
                    <!-- 文章內容區 -->
                    <div id="article">
                        <div id="article_ajax"></div>
                        @*<button id="showCharts">顯示統計圖表</button>
                            <img src="~/Views/Travel/Chart"/>
                            <div id="showChartsTag"></div>*@
                        <div class="mt-3">
                            @*<button class="btn btn-block mr-1  p-1 row mx-auto" style="background-color:#FFE0B2 ;">
                                    <img src="~/Content/images/10.png" alt="" class="pb-1">讀取更多
                                </button>*@
                        </div>
                        <div class="mb-5"></div> <!--底部墊高-->


                    </div>
                </div>
                <!-- 文章內容區結束 -->
                @*行事曆*@
                <div class="col-xl-3 col-lg-3   col-10"></div>
                <div id="calendar" class="pr-4   row mx-auto">

                </div>
                @*readmore事件，含行事曆*@
                <div>
                    <button hidden type="button" id="calendarEventGo" class="btn btn-primary" data-toggle="modal" act_id="" data-target="#ajax_readmore"></button>
                    <div id="add_ajax_readmore"></div>
                </div>
            </div>
        </div>
        <a href="" id="labelTop">
            回最上面
        </a>
        @*Map設定Modal頭*@
        <div class="modal fade get_map" id="getMap" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog change-max-width-1400" role="document">
                <div class="modal-content">
                    <div class="modal-header border-main-color">
                        <h5 class="modal-title" id="exampleModalLabel"><span style="font-weight:bolder;">地點設定</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="height:100%">
                        <div class="mb-4 mx-auto align-items-center justify-content-around">
                            <span class="mb-1">點選一個地點：</span>
                            <div id="mapid"  >

                            </div>
                        </div>
                        <div class="modal-footer  mt-2 border-main-color">
                            <button type="button" class="btn btn-info getMapValue" data-dismiss="modal">確定</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Map設定Modal尾*@

        <!-- footer -->
        <div class="container-fluid footer">
            <p class="text-center mt-2 mb-2">Copyright © 2020 Jouta All rights reserved</p>
        </div>
        <!--    script      -->
        <script src="~/Scripts/jquery-3.5.1.js"></script>
        <script src="~/Scripts/IIIProject/popper.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Content/jquery-ui-1.12.1/jquery-ui.js"></script>
        <script src="~/Scripts/IIIProject/navbar.js"></script>
        <script src="//cdn.ckeditor.com/4.15.0/full/ckeditor.js"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Content/fullcalendar-5.3.2/lib/main.js"></script>
        <script src="~/Content/fullcalendar-5.3.2/lib/locales-all.js"></script>
        <script src="~/Scripts/IIIProject/travel.js"></script>
        <script src="~/Scripts/IIIProject/location_jou.js"></script>
        <script>
        @if (!string.IsNullOrEmpty(HomeSearch[3]))
        {
            @:window.confirm("@HomeSearch[3]");
        }

        //function a123(){
        //    var vm = new Vue({
        //        el: ".likeIt",
        //        data: {
        //            IflikeIt: false
        //        },
        //        methods: {
        //            likeItClick: function () {
        //                this.IflikeIt = !this.IflikeIt;
        //            }
        //        }
        //    })
        //}

        </script>
    </body>

</html>
}
