@{
    var x = (tMember)Session["member"];

 }

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jouta</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" id="main">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="@Url.Action("Home", "Home")">
                <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
            </a>
            <div class="navbar-collapse collapse justify-content-between">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">@Html.ActionLink("首頁", "Home", "Home", new { @class = "nav-link nav-main text-dark" })</li>
                    <li class="nav-item">@Html.ActionLink("找飯局", "Eat", "Home", new { @class = "nav-link nav-eat text-dark" })</li>
                    <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { @class = "nav-link nav-travel text-dark" })</li>
                    <li class="nav-item">@Html.ActionLink("找文章", "Index", "Blog", new { @class = "nav-link nav-blog text-dark" })</li>
                </ul>
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li style="color:white">您好，@x.f會員名稱</li>
                        <li class="nav-item">@Html.ActionLink("登出", "Logout", "Login", new { @class = "nav-link nav-login text-dark" })</li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { @class = "nav-link nav-login text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { @class = "nav-link nav-register text-dark" })</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">&copy; @DateTime.Now.Year Jouta All rights reserved</p>
    </div>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/IIIProject/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
