@model IIIProject_travel.ViewModel.CMember
@{
    Layout = null;
    var x = (tMember)Session["member"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聊天室 | Jouta</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/sass/style.css">
    <link rel="stylesheet" href="~/Content/css/chat.css">
    <link rel="stylesheet" href="~/Content/fontawesome/css/all.css">
</head>

<body>
    <div class="container-fluid">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" id="main">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="@Url.Action("Home", "Home")">
                    @*改用Url.Action*@
                    <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                </a>
                <div class="navbar-collapse collapse justify-content-between" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">@Html.ActionLink("首頁", "Home", "Home", new { }, new { @class = "nav-link nav-main text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找飯局", "EatIndex", "Eat", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找文章", "Index", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">@Html.ActionLink("聯絡我們", "New", "聯絡我們", new { }, new { @class = "nav-link nav-login text-dark" })</li>

                        <li class="nav-item">@Html.ActionLink("關於我們", "About", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        @if (Session["member"] != null)
                        {

                            <li class="nav-item nav-link nav-login text-dark">@Html.ActionLink("您好，" + x.f會員名稱, "ProfileIndex", "Profile")</li>
                            @*<li class="nav-item">
                                    <img src="@ViewData["Img"]" alt="img" width="30" height="30" style="border:2px solid green;" />
                                </li>*@
                            <li class="nav-item">@Html.ActionLink("登出", "Home", "Home", new { id = 0 }, new { @class = "nav-link nav-login text-dark" })</li>
                        }
                        else
                        {

                            <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>

                            <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading" hidden>
                Jouta 交流平台
                <i class="fa fa-paper-plane fa-fw"></i>
            </div>
            <div class="panel-body" id="chat">
                <input type="hidden" id="displayname" />
                <p id="discussion"></p>
            </div>
            <div class="panel-footer">
                <div class="input-group ">
                    <input id="message" type="text" name="message" class="form-control input-sm" placeholder="請輸入訊息..." />
                    <span class="input-group-btn">
                        <input type="button" class="btn btn-warning btn-sm" id="sendmessage" value="送出" />
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!--    footer  -->
    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">Copyright © 2020 Jouta All rights reserved</p>
    </div>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        $(function () {
            var chat = $.connection.chatHub;

            chat.client.addNewMessageToPage = function (name, message) {

                if (name == "@x.f會員名稱" || name == "@x.f會員暱稱") {
                    $("#discussion").append('<p style="text-align:right; display: -webkit-box; overflow: inherit; text-overflow: ellipsis; -webkit-box-orient: vertical;">' +
                        '<strong style="margin-bottom:10px"><img src="../Content/images/@x.f會員大頭貼" style="margin-right:3px" id="userAva"><span id="userName">' + htmlEncode(name) + '<br></span></strong> ' + htmlEncode(message) + '</p>')
                } else if(name != "@x.f會員名稱" || name != "@x.f會員暱稱") {
                    $("#discussion").append('<p style="text-align:left; display: -webkit-box; overflow: inherit; text-overflow: ellipsis; -webkit-box-orient: vertical;">' +
                        '<strong style="margin-bottom:10px"><img src="../Content/images/15.png" style="margin-right:3px" id="userAva"></div><span id="otherUserName">' + htmlEncode(name)  + '<br></span></strong>' + htmlEncode(message) + '</p>')
                }
            };

            $("#displayname").val(prompt("輸入您的暱稱:", ""));

            $("#message").focus();

            $.connection.hub.start().done(function () {
                $("#sendmessage").click(function () {

                    chat.server.send($("#displayname").val(), $("#message").val());

                    $("#message").val("").focus();
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $("<div />").text(value).html();
            return encodedValue;
        }
    </script>
</body>

</html>