@model IIIProject_travel.ViewModel.CMember

@{
    Layout = null;
    var x = (tMember)Session["member"];
    dbJoutaEntities db = new dbJoutaEntities();
}
<!DOCTYPE html>
<html lang="zh-hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@x.f會員名稱 | Jouta</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/sass/style.css">
    <link rel="stylesheet" href="~/Content/css/profile.css">
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet">
</head>

<body class="fixedMenu" style="padding-top: 59px;">
    <div class="container-fluid topbanner">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-fixed-top" id="main">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Home", "Home")">
                    @*改用Url.Action*@
                    <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                </a>
                @*<div class="navbar-header">*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*</div>*@
                <div class="navbar-collapse collapse justify-content-between" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">@Html.ActionLink("首頁", "Home", "Home", new { }, new { @class = "nav-link nav-main text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找飯局", "EatIndex", "Eat", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找文章", "Index", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        @if (Session["member"] != null)
                        {
                            <li class="nav-item nav-link nav-login text-dark">@Html.ActionLink("您好，" + x.f會員名稱, "ProfileIndex", "Profile") </li>
                            <li class="nav-item">@Html.ActionLink("登出", "Home", "Home", new { id = 0 }, new { @class = "nav-link nav-login text-dark" })</li>
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>
                            <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!--main head-->
    <div class="container">
        <div class="profile-header">
            <div class="profile-img">
                <form action="~/Profile/UploadImg" method="post" enctype="multipart/form-data" id="form1">

                    <label style="cursor:pointer;"><i class="fas fa-camera" style="position:absolute;bottom:-30%;left:20%;color:#FF8000;z-index:5;font-size:2.5rem;"></i><input id="avar" type="file" name="f會員大頭貼" style="display:none;" onchange="kk()" /></label>
                    <input type="hidden" name="f會員編號" value="@x.f會員編號" />

                </form>
                @if (Model.tMembers.f會員大頭貼 != null || Model.tMembers.f會員大頭貼 == "")
                {
                    <img src="~/Content/images/@Model.tMembers.f會員大頭貼" alt="" class="">
                }
                else
                {
                    <img src="~/Content/images/default.jpg" alt="" class="">
                }

            </div>

            <div class="profile-nav-info">
                <h3 class="user-name">@Model.tMembers.f會員名稱</h3>
                <div class="address">
                    <span class="country">身分:&nbsp;&nbsp;</span>
                    @if (Model.tMembers.isAdmin == false)
                    {
                        <p class="state">使用者</p>
                    }
                    else
                    {
                        <p class="state">管理員</p>
                    }
                </div>
            </div>
        </div>
        <div class="main-bd">
            <div class="col-lg
                    else-3 left-side">
                <div class="profile-side">
                    <p class="mobile-no">
                        @if (Model.tMembers.f會員生日 == null)
                        {
                            <i class="fas fa-birthday-cake"></i> @:YYYY-MM-DD
                        }
                        else
                        {
                            <i class="fas fa-birthday-cake"></i>@Model.tMembers.f會員生日
                        }
                    </p>
                    <p class="user-mail">
                        <i class="fa fa-envelope"></i>@x.f會員電子郵件
                    </p>
                    <div class="user-bio">
                        <p class="bio"> @Model.tMembers.f會員自我介紹</p>
                    </div>
                    <div class="profile-btn">
                        <button class="chatbtn">
                            <i class="fa fa-comment"></i>@Html.ActionLink("聊天", "Chat", "Profile", new { @style = "color:#fff;" })
                        </button>
                        <button class="createbtn">
                            <a style="color:#fff;" href="~/Blog/Create"><i class="fa fa-plus temp"></i>發文</a>
                        </button>
                    </div>
                    <div class="user-rating">
                        <h3 class="rating">@x.f會員評分</h3>
                        <div class="rate">
                            <div class="stars">
                                @if (Model.tMembers.f會員評分 == null)
                                {
                                    <p>尚未評分</p>
                                }
                                else
                                {
                                    switch (Math.Round(double.Parse(x.f會員評分.ToString())))
                                    {
                                        case 5:
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            break;
                                        case 4:
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            break;
                                        case 3:
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            break;
                                        case 2:
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            break;
                                        case 1:
                                            <i class="fa fa-star"></i>
                                            break;
                                    }
                                }

                            </div>
                            <span class="no-user">
                                @if (x.f瀏覽人數 == null)
                                {
                                    @:<span>0</span>&nbsp; &nbsp; 瀏覽人數
                                }
                                else
                                {
                                    @:<span>@x.f瀏覽人數</span>&nbsp; &nbsp; 瀏覽人數
                                }

                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 right-side">
                <div class="tab_nav">
                    <ul>
                        <li class="user active" onclick="tabs(0)">個人檔案</li>
                        <li class="user" onclick="tabs(1)">我的發文</li>
                        <li class="user" onclick="tabs(2)">參加活動</li>
                        <li class="user" onclick="tabs(3)">關注活動</li>
                        <li class="user" onclick="tabs(4)">我的開團</li>
                        <li class="user" onclick="tabs(5)">歷史紀錄</li>
                    </ul>
                </div>
                <div class="profile-body">
                    <div class="profile-detail tab_info">
                        <h2 id="title">個人檔案</h2>
                        <form method="post" action="~/Profile/Save">
                            <button id="btn" type="button" class="btn btn-warning">編輯資料</button>
                            @if (ViewBag.msg == "資料修改成功")
                            {
                                <div class="alert alert-success">
                                    @ViewBag.msg
                                </div>
                            }
                            <h6 class="profiletag">信箱</h6>
                            <input type="email" size="50" value="@Model.tMembers.f會員電子郵件" name="txtEmail" disabled>

                            <h6 class="profiletag">密碼</h6>
                            <input type="password" size="50" value="@Model.tMembers.f會員密碼" name="txtPassword" disabled>

                            <h6 class="profiletag">會員名稱</h6>
                            <input type="text" class="txtName" name="txtName" disabled size="50" value="@Model.tMembers.f會員名稱" id="name">

                            <h6 class="profiletag">會員暱稱</h6>
                            <input type="text" class="txtNickName" name="txtNickName" disabled size="50" value="@Model.tMembers.f會員暱稱" id="nickname">

                            <h6 class="profiletag">生日</h6>
                            <input type="date" class="txtBirth" size="50" name="txtBirth" disabled value="@Model.tMembers.f會員生日" id="birth">

                            <h6 class="profiletag">興趣</h6>
                            <input type="text" class="txtHobby" size="50" name="txtHobby" disabled value="@Model.tMembers.f會員興趣" id="hobby">

                            <h6 class="profiletag">自我介紹</h6>
                            <textarea class="intro" rows="5" cols="50" name="txtIntro" disabled id="intro">@Model.tMembers.f會員自我介紹</textarea><br>
                            <div id="sth"></div>

                        </form>

                    </div>
                </div>

                <div class="profile-posts tab_info" id="myPost">
                    <h2 id="title">@Model.tMembers.f會員名稱 的發文</h2>
                    @{ //擷取會員發過文章編號，並對應
                        var post = db.tActivity.Where(a => a.f會員編號 == Model.tMembers.f會員編號 && a.f活動類型 == "文章");
                        if (post.Count()<1)
                        {
                            <p id="theTabContent">目前無發文紀錄</p>
                        }
                        foreach (var i in post)
                        {
                            <div class="card mb-3" style="max-width: 800px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="~/Content/images/@i.f活動團圖" class="card-img" alt="@i.f活動編號">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">@i.f活動標題</h5>
                                                <p class="card-text actContent">@Html.Raw(i.f活動內容)</p>
                                                <p class="card-text">
                                                    <small class="text-muted">Posted on @i.f活動發起日期</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        }
                    }
                </div>

                <div class="profile-event tab_info" id="myActivity">
                    <h2 id="title">參加的活動</h2>
                    @{
                        var join = db.tMember.Where(a => a.f會員編號 == x.f會員編號).Select(b => b.f會員參加的活動編號).FirstOrDefault();
                        if (string.IsNullOrEmpty(join))
                        {
                            <p id="theTabContent">目前無參加活動</p>
                        }
                        else
                        {
                            string[] words = join.Split(',');
                            if (words.Length < 2)
                            {
                                <p id="theTabContent">目前無參加活動</p>
                            }
                            else
                            {
                                foreach (var i in words)
                                {
                                    if (string.IsNullOrEmpty(i))
                                    {
                                        continue;
                                    }
                                    else
                                    {
                                        var join_item = db.tActivity.Where(c => c.f活動編號.ToString() == i).FirstOrDefault();
                                        <div class="card mb-3" style="max-width: 800px;">
                                            <div class="row no-gutters">
                                                <div class="col-md-4">
                                                    <img src="~/Content/images/@join_item.f活動團圖" class="card-img" alt="@join_item.f活動編號">
                                                </div>
                                                <div class="col-md-8 activityadjust">
                                                    <div class="card-body">
                                                        <h5 class="card-title"> @join_item.f活動標題</h5>
                                                        <p class="card-text actContent">@Html.Raw(join_item.f活動內容)</p>
                                                        <p style="cursor: pointer;">揪團者: @join_item.tMember.f會員名稱</p>
                                                        <div class="row justify-content-between">
                                                            <p class="card-text">
                                                                <small class="text-muted">@join_item.f活動開始時間</small>
                                                            </p>
                                                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg">Read More</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            }
                        }
                    }
                </div>

                <div class="profile-follow tab_info" id="myFollow">
                    <h2 id="title">關注活動</h2>
                    @{
                        var favorite = db.tMember.Where(a => a.f會員編號 == x.f會員編號).Select(b => b.f會員收藏的活動編號).FirstOrDefault();
                        if (string.IsNullOrEmpty(favorite))
                        {
                            <p id="theTabContent">目前無關注活動</p>
                        }
                        else
                        {
                            string[] words = favorite.Split(',');
                            if (words.Length < 2)
                            {
                                <p id="theTabContent">目前無關注活動</p>
                            }
                            else
                            {
                                foreach (var i in words)
                                {
                                    if (string.IsNullOrEmpty(i))
                                    {
                                        continue;
                                    }
                                    else
                                    {
                                        var favorite_item = db.tActivity.Where(c => c.f活動編號.ToString() == i).FirstOrDefault();
                                        <div class="card mb-3" style="max-width: 800px;">
                                            <div class="row no-gutters">
                                                <div class="col-md-4">
                                                    <img src="~/Content/images/@favorite_item.f活動團圖" class="card-img" alt="@favorite_item.f活動編號">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title"> @favorite_item.f活動標題</h5>
                                                        <p class="card-text actContent">@Html.Raw(favorite_item.f活動內容)</p>
                                                        <p class="card-text">揪團者: @favorite_item.tMember.f會員名稱</p>
                                                        <div class="row justify-content-between">
                                                            <p class="card-text">
                                                                <small class="text-muted">@favorite_item.f活動結束時間</small>
                                                            </p>
                                                            <a class="nav-item">@Html.ActionLink("Read More", "TravelIndex", "Travel", new { id = favorite_item.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }

                        }
                    }
                </div>

                <div class="profile-mygroup tab_info" id="mygroup">
                    <h2 id="title">@x.f會員名稱 的開團</h2>
                    @{
                        var make = db.tMember.Where(a => a.f會員編號 == x.f會員編號).Select(b => b.f會員發起的活動編號).FirstOrDefault();
                        if (string.IsNullOrEmpty(make))
                        {
                            <p id="theTabContent">目前無開團紀錄</p>
                        }
                        else
                        {
                            string[] words = make.Split(',');
                            if (words.Length < 2)
                            {
                                <p id="theTabContent">目前無開團紀錄</p>
                            }
                            else
                            {
                                foreach (var i in words)
                                {
                                    if (string.IsNullOrEmpty(i))
                                    {
                                        continue;
                                    }
                                    else
                                    {
                                        var make_item = db.tActivity.Where(c => c.f活動編號.ToString() == i && c.f活動類型 != "文章").FirstOrDefault();
                                        if (make_item == null)
                                        {
                                            continue;
                                        }
                                        else
                                        {
                                            <div class="card mb-3" style="max-width: 800px;">
                                                <div class="row no-gutters">
                                                    <div class="col-md-4">
                                                        <img src="~/Content/images/@make_item.f活動團圖" class="card-img" alt="@x.f會員名稱">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title">@make_item.f活動標題</h5>
                                                            <p class="card-text actContent">@Html.Raw(make_item.f活動內容)</p>
                                                            <p class="card-text">
                                                                <small class="text-muted">Posted on @make_item.f活動發起日期</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }

                        }
                    }
                </div>

                <div class="profile-history tab_info" id="history">
                    <h2 id="title">歷史紀錄</h2>
                    @{
                        var history = db.tMember.Where(a => a.f會員編號 == x.f會員編號).Select(b => new
                        {
                            post = b.f會員發起的活動編號,
                            join = b.f會員參加的活動編號
                        }).FirstOrDefault();
                        if (!string.IsNullOrEmpty(history.join) && !string.IsNullOrEmpty(history.post))
                        {
                            string[] words1 = history.join.Split(',');
                            string[] words2 = history.post.Split(',');
                            string[] unit = words1.Union(words2).ToArray();  //合併陣列，並去除相同項目
                            foreach (var i in unit)
                            {
                                if (string.IsNullOrEmpty(i))
                                {
                                    continue;
                                }
                                else
                                {
                                    var history_item = db.tActivity.Where(c => c.f活動編號.ToString() == i).FirstOrDefault();
                                    <div class="card mb-3" style="max-width: 800px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="~/Content/images/@history_item.f活動團圖" class="card-img" alt="@history_item.f活動編號">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"> @history_item.f活動標題</h5>
                                                    <p class="card-text actContent">@Html.Raw(history_item.f活動內容)</p>
                                                    <p class="card-text">揪團者: @history_item.tMember.f會員名稱</p>
                                                    <div class="row justify-content-between">
                                                        <p class="card-text">
                                                            <small class="text-muted">@history_item.f活動結束時間</small>
                                                        </p>
                                                        <a class="nav-item">@Html.ActionLink("Read More", "TravelIndex", "Travel", new { id = history_item.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else if (string.IsNullOrEmpty(history.join) && !string.IsNullOrEmpty(history.post))
                        {
                            string[] words = history.post.Split(',');
                            foreach (var i in words)
                            {
                                if (string.IsNullOrEmpty(i))
                                {
                                    continue;
                                }
                                else
                                {
                                    var unit_item = db.tActivity.Where(c => c.f活動編號.ToString() == i).FirstOrDefault();
                                    <div class="card mb-3" style="max-width: 800px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="~/Content/images/@unit_item.f活動團圖" class="card-img" alt="@unit_item.f活動編號">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"> @unit_item.f活動標題</h5>
                                                    <p class="card-text actContent">@Html.Raw(unit_item.f活動內容)</p>
                                                    <p class="card-text">揪團者: @unit_item.tMember.f會員名稱</p>
                                                    <div class="row justify-content-between">
                                                        <p class="card-text">
                                                            <small class="text-muted">@unit_item.f活動結束時間</small>
                                                        </p>
                                                        <a class="nav-item">@Html.ActionLink("Read More", "TravelIndex", "Travel", new { id = unit_item.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else if (!string.IsNullOrEmpty(history.join) && string.IsNullOrEmpty(history.post))
                        {
                            string[] words = history.join.Split(',');
                            foreach (var i in words)
                            {
                                if (string.IsNullOrEmpty(i))
                                {
                                    continue;
                                }
                                else
                                {
                                    var unit_item = db.tActivity.Where(c => c.f活動編號.ToString() == i).FirstOrDefault();
                                    <div class="card mb-3" style="max-width: 800px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="~/Content/images/@unit_item.f活動團圖" class="card-img" alt="@unit_item.f活動編號">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"> @unit_item.f活動標題</h5>
                                                    <p class="card-text actContent">@Html.Raw(unit_item.f活動內容)</p>
                                                    <p class="card-text">揪團者: @unit_item.tMember.f會員名稱</p>
                                                    <div class="row justify-content-between">
                                                        <p class="card-text">
                                                            <small class="text-muted">@unit_item.f活動結束時間</small>
                                                        </p>
                                                        <a class="nav-item">@Html.ActionLink("Read More", "TravelIndex", "Travel", new { id = unit_item.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <p id="theTabContent">目前無歷史紀錄</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">Copyright © 2020 Jouta All rights reserved</p>
    </div>

    <!-- script -->
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/IIIProject/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/IIIProject/navbar.js"></script>
    <script src="~/Scripts/IIIProject/profile.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn").click(function () {

                if ($("#sth").innerHeight() == 0) {
                    $('.txtName').removeAttr('disabled').attr('style', 'background-color:#ffeedd;');
                    $('.txtNickName').removeAttr('disabled').attr('style', 'background-color:#ffeedd;');
                    $('.txtBirth').removeAttr('disabled').attr('style', 'background-color:#ffeedd;');
                    $('.txtHobby').removeAttr('disabled').attr('style', 'background-color:#ffeedd;');
                    $('.intro').removeAttr('disabled').attr('style', 'background-color:#ffeedd;');
                    $("#sth").append(`
                                       <button type="submit" class="btn btn-warning subBtn">送出</button>
                                       <button type="reset" class="btn btn-dark cancelBtn">取消</button>
                                                                        `);
                }

                $('.cancelBtn').click(function () {
                    $('.txtName').attr('disabled', 'disabled').removeAttr('style');
                    $('.txtNickName').attr('disabled', 'disabled').removeAttr('style');
                    $('.txtBirth').attr('disabled', 'disabled').removeAttr('style');
                    $('.txtHobby').attr('disabled', 'disabled').removeAttr('style');
                    $('.intro').attr('disabled', 'disabled').removeAttr('style');
                    $('.subBtn').remove();
                    $('.cancelBtn').remove();
                })
            });
        });
    </script>

    <script>
        function kk() {
            $('#form1').submit();
        }
    </script>

    <script>
        $("#title").click(function () {
            $("#name").val("皮卡丘");
            $("#nickname").val("皮神");
            $("#birth").val("1996/02/27");
            $("#hobby").val("對小智放電");
            $("#intro").val("皮卡丘為電屬性的鼠寶可夢。代表技能是電擊、十萬伏特、電光一閃、鐵尾、打雷、伏特攻擊、電球、電網。可利用雷之石進化為雷丘。在阿羅拉地區進化成電、超能力系的雷丘。");
        });
    </script>
</body>

</html>