@model IIIProject_travel.tActivity

@{
    ViewBag.Title = "v查看";
}
@{
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>查看 | Jouta</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/css/dashboard.css" rel="stylesheet" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        body {
            margin-bottom: 5px;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Home","後台Home")">
            <img src="~/Content/images/joutalogo.png" width="14" class="mr-2" />Jouta Admin
        </a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a>
                    @Html.ActionLink("Sign out", "Home", "Home", new { id = 0 }, new { @class = "nav-link" })
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Home","後台Home")">
                                <span data-feather="home"></span>
                                網站概覽
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","後台會員")">
                                <span data-feather="users"></span>
                                會員列表
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","後台旅遊")">
                                <span data-feather="file"></span>
                                旅遊列表
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","後台飯局")">
                                <span data-feather="bar-chart-2"></span>
                                飯局列表
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","後台文章")">
                                <span data-feather="layers"></span>
                                文章列表　<
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","聯絡我們")">
                                <span data-feather="message-square"></span>
                                意見列表
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","優惠發送")">
                                <span data-feather="gift"></span>
                                優惠發送
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


                <h2>查看文章</h2>
                <div class="table-responsive">

                    <form method="post">

                        <input type="hidden" name="f活動編號" value="@Model.f活動編號" />
                        <div class="row; overflow-x:hidden;">
                            <div class="col">
                                <img src="~/Content/images/@Model.f活動團圖" style="height:400px; display:block; margin:auto;" />
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            標題：<br />
                                            <input type="text" name="f活動標題" value="@Model.f活動標題" class="form-control" readonly />
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            會員：<br />
                                            <input type="text" name="f會員編號" value="@Model.tMember.f會員名稱" class="form-control" readonly />
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            建立時間：<br />
                                            <input type="text" name="f活動發起日期" value="@Model.f活動發起日期" class="form-control" readonly />
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            地區：<br />
                                            <input type="text" name="f活動地區" value="@Model.f活動地區" class="form-control" readonly />
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    內容：<br />
                                    <textarea name="f活動內容" rows="12" class="form-control" readonly>@Model.f活動內容</textarea>
                                </p>

                            </div>
                        </div>
                    </form>

                    @Html.ActionLink("刪除", "d刪除", "後台文章", new { id = Model.f活動編號 },
                    new { OnClick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger" })
                    <input type="button" onclick="history.back()" value="關閉" class="btn btn-secondary">

                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/Scripts/jquery-slim.min.js"><\/script>')</script>
    <script src="~/Content/bootstrap-4.5.2-dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="~/Scripts/IIIProject/dashboard.js"></script>
</body>

</html>