@model IIIProject_travel.tComment

@{
    ViewBag.Title = "r回覆";
}
@{
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>回覆 | Jouta</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/css/dashboard.css" rel="stylesheet" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        body {
            margin-bottom: 5px;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Home","後台Home")">
            <img src="~/Content/images/joutalogo.png" width="14" class="mr-2" />Jouta Admin
        </a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a>
                    @Html.ActionLink("Sign out", "Home", "Home", new { id = 0 }, new { @class = "nav-link" })
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Home","後台Home")">
                                <span data-feather="home"></span>
                                首頁 <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","後台會員")">
                                <span data-feather="users"></span>
                                會員列表
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","後台旅遊")">
                                <span data-feather="file"></span>
                                旅遊列表
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","後台飯局")">
                                <span data-feather="bar-chart-2"></span>
                                飯局列表
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","後台文章")">
                                <span data-feather="layers"></span>
                                文章列表
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","聯絡我們")">
                                <span data-feather="layers"></span>
                                意見列表　<
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","優惠發送")">
                                <span data-feather="gift"></span>
                                優惠發送
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                @using (Html.BeginForm())
                {<h2 id="opinion">查看意見</h2>

                    <div class="table-responsive">

                        <form method="post">

                            <input type="hidden" name="fID" value="@Model.fID" />
                            <div class="row; overflow-x: hidden;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            聯絡人<br />
                                            <input type="text" name="f聯絡人" value="@Model.f聯絡人" class="form-control" readonly />
                                        </div>
                                        <div class="col">
                                            標題<br />
                                            <input type="text" name="f標題" value="@Model.f標題" class="form-control" readonly />
                                        </div>
                                        <div class="col">
                                            建立時間<br />
                                            <input type="text" name="f意見時間" value="@Model.f意見時間" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            電子郵件<br />
                                            <input type="text" name="f電子郵件" value="@Model.f電子郵件" class="form-control" readonly />
                                        </div>
                                        <div class="col">
                                            分類<br />
                                            <input type="text" name="f電子郵件" value="@Model.f意見類型" class="form-control" readonly />
                                        </div>
                                        <div class="col">
                                            性別<br />
                                            <input type="text" name="f性別" value="@Model.f性別" cols="50" rows="6" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <p>
                                        內容<br />
                                        <textarea name="f意見" cols="50" rows="6" class="form-control" readonly>@Model.f意見</textarea>
                                    </p>
                                    <p>
                                        回覆內容<br />
                                        <textarea name="f回覆" cols="50" rows="6" class="form-control" id="r回覆內容"></textarea>
                                    </p>
                                    <p>
                                        <input type="submit" value="送出" class="btn btn-primary" />
                                        <input type="button" onclick="history.back()" value="關閉" class="btn btn-danger">

                                    </p>
                                    <p>
                                        @ViewBag.kk
                                    </p>
                                </div>

                            </div>
                        </form>

                    </div>
                }
            </main>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Content/bootstrap-4.5.2-dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="~/Scripts/IIIProject/dashboard.js"></script>
    <script>
        $("#opinion").click(function () {
            $("#r回覆內容").val("您好，很高興收到您的來信，我們將會慎重處理這個問題，並且將於7~14日內予以回信。");

        });


    </script>
</body>

</html>